<template>
  <div class="tree-side-view">
    <div class="tree-side-view__work-side">
      <p v-if="title" class="tree-side-view__work-title">
        {{ title }}
      </p>
      <el-input
        v-if="isSearchActive"
        v-model="query"
        class="tree-side-view__search"
        :placeholder="t('search')"
        @input="onQueryChanged"
      >
        <template #prefix>
          <svg-icon class="tree-side-view__search-icon" :data="require(`@icons/fi_search.svg`)" />
        </template>
      </el-input>
      <el-tree-v2
        ref="treeRef"
        :data="tree"
        :props="treeProps"
        :filter-method="filterMethod"
        :height="215"
        :default-checked-keys="checkedKeys"
        show-checkbox
        class="tree-side-view__tree"
        @check="updateData"
      />
      <el-button link type="primary" @click="selectAll">{{ t('selectAll') }}</el-button>
    </div>
    <el-divider class="tree-side-view__divider" direction="vertical" />
    <div class="tree-side-view__result-side">
      <div class="tree-side-view__result-header">
        <p class="tree-side-view__result-selected">{{ selectCounter + ' ' + t('selected') }}</p>
        <el-button link type="primary" @click="clearAll">{{ t('clear') }}</el-button>
      </div>
      <div class="tree-side-view__result-content">
        <el-scrollbar :max-height="'215px'">
          <template v-for="item in props.tree" :key="item.id">
            <div v-if="isCategorySelected(item.id)" class="tree-side-view__result-item">
              <p>{{ item.label }} {{ getCheckedChildrenCount(item.children) }}</p>
              <el-button link @click="removeCategory(item.id)">
                <svg-icon :data="require(`@icons/fi_x-circle.svg`)" />
              </el-button>
            </div>
          </template>
        </el-scrollbar>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, toRaw } from 'vue'
import { ElTreeV2 } from 'element-plus'
import type { TreeNode, TreeNodeData, TreeKey } from 'element-plus/es/components/tree-v2/src/types'
import { useI18n } from 'vue-i18n'

interface Tree {
  id: string
  label: string
  children?: Tree[]
}

interface Props {
  tree: Tree[]
  isSearchActive?: boolean
  title?: string
  isSelectAllButton?: boolean
  data?: {
    checkedNodes: Tree[]
    checkedKeys: string[]
    halfCheckedKeys: string[]
  }
}

const { t } = useI18n({
  messages: {
    en: {
      search: 'Search',
      selectAll: 'Select All',
      selected: 'Selected',
      clear: 'Clear',
    },
    rus: {
      search: 'Поиск',
      selectAll: 'Выбрать всё',
      selected: 'выбрано',
      clear: 'Очистить',
    },
  },
})

const treeProps = {
  value: 'id',
  label: 'label',
  children: 'children',
}

const props = defineProps<Props>()
const emits = defineEmits<{
  (
    e: 'update:data',
    data: { checkedNodes: TreeNodeData[]; checkedKeys: TreeKey[]; halfCheckedKeys: TreeKey[] }
  ): void
}>()
const query = ref('')
const treeRef = ref<InstanceType<typeof ElTreeV2>>()
const checkedKeys = ref(
  props.data && props?.data.checkedKeys ? structuredClone(toRaw(props?.data?.checkedKeys)) : []
)

const onQueryChanged = (query: string) => {
  treeRef.value!.filter(query)
}
const filterMethod = (query: string, node: TreeNode) => {
  return node.label!.includes(query)
}

const updateData = () => {
  emits('update:data', {
    checkedKeys: treeRef.value!.getCheckedKeys(),
    checkedNodes: treeRef.value!.getCheckedNodes(),
    halfCheckedKeys: treeRef.value!.getHalfCheckedKeys(),
  })
}

const isCategorySelected = (categoryId: string) => {
  if (props.data?.halfCheckedKeys) {
    if (props.data.halfCheckedKeys.indexOf(categoryId) > -1) {
      return true
    }
  }
  if (props.data?.checkedKeys) {
    if (props.data.checkedKeys.indexOf(categoryId) > -1) {
      return true
    }
  }
  return false
}

const getCheckedChildrenCount = (childrenList: TreeNodeData[]) => {
  let selectCounter = 0
  childrenList?.forEach((child) => {
    if (isCategorySelected(child.id)) {
      selectCounter += 1
    }
  })
  return selectCounter > 0 ? `${selectCounter} из ${childrenList.length}` : ''
}

const selectAll = () => {
  const firstLevelKeys: TreeKey[] = []
  props.tree.forEach((item) => {
    firstLevelKeys.push(item.id)
  })
  treeRef.value!.setCheckedKeys(firstLevelKeys)
  updateData()
}

const clearAll = () => {
  treeRef.value!.setCheckedKeys([])
  updateData()
}

const removeCategory = (categoryId: TreeKey) => {
  treeRef.value!.setChecked(categoryId, false)
  updateData()
}

const selectCounter = computed(() => {
  let counter = 0
  props.tree.forEach((item) => {
    if (item.children) {
      item.children?.forEach((child) => {
        if (isCategorySelected(child.id)) {
          counter++
        }
      })
    } else if (isCategorySelected(item.id)) {
      counter++
    }
  })
  return counter
})
</script>

<style lang="scss">
.tree-side-view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 311px;
  row-gap: 16px;
  flex-flow: row wrap;

  &__work-side {
    flex: 0 0 49%;
  }

  &__work-title {
    display: flex;
    align-items: center;
    height: 24.19px;
    margin-bottom: 12px;
    color: $color-text-primary-light-5;
  }

  &__search {
    margin-bottom: 11px;
  }

  &__search-icon {
    stroke: $color-text-primary-light-5;
  }

  &__tree {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &__divider {
    height: auto;
  }

  &__result-side {
    display: flex;
    flex: 0 0 47%;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
  }

  &__result-header {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: $color-text-primary-light-5;
    flex-flow: row wrap;
  }

  &__result-selected {
    margin-right: auto;
  }

  &__result-content {
    display: flex;
    width: 100%;

    > .el-scrollbar {
      width: 100%;
    }
  }

  &__result-item {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;

    svg {
      stroke: #1a1a1a;
    }
  }
}
</style>
